header {
  max-height: 2.5em;
  padding-bottom: .225em;
  margin-top: -.225em;
}

.logo {
  float: left;
  margin: 1em 0 0 1em;
  color: #868686;
}

.nav-links {
  color: #868686;
  list-style: none;
  display: inline-block;
  li:nth-child(2) {
    color: black;
  }
}

.nav-links > li {
  display: inline-block;
  margin-right: 3.5em;
  vertical-align: middle;
}

.body-top {
  background-image: url("https://images.unsplash.com/2/05.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=575&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  color: white;
  text-align: center;
  padding: 4em 0;
}

.class-middle {
  border: 1px solid #D0D7D0;
}

.middle-container {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #D1D8D1;
    margin-top: 2em;
}

.price-ad {
  background-color: #4F934E;
  text-align: center;
  color: white;
  padding: 1em 0;
  border-bottom: 1px solid #D1D8D1;
  h4:first-child {
    letter-spacing: .3em;
  }
    h4:nth-child(3) {
      color: #A5C8A5;
    }
    h1 {
      font-size: 5.3em;
      margin: 0;
    }
    h4 {
      margin: 0;
    }
}

.price-ad-two {
  background-color: #2A4786;
  text-align: center;
  color: white;
  padding: 1em 0;
  border-bottom: 1px solid #D1D8D1;
  h4:first-child {
    letter-spacing: .3em;
  }
    h4:nth-child(3) {
    color: #8F9DC0;
  }
    h1 {
      font-size: 5.3em;
      margin: 0;
    }
    h4 {
      margin: 0;
    }
}

.price-ad-three {
  background-color: #111111;
  text-align: center;
  color: white;
  padding: 1em 0;
  border-bottom: 1px solid #D1D8D1;
    h4:first-child {
      letter-spacing: .3em;
    }
    h4:nth-child(3) {
      color: #878787;
    }
    h1 {
      font-size: 5.3em;
      margin: 0;
    }
    h4 {
      margin: 0;
    }
}

.hype-list {
  list-style: none;
  text-align: center;
  background-color: #F7F7F7;
  padding: 0;
  margin: 0;
  li {
    border-bottom: 1px solid #D1D8D1;
      display: block;
      color: #5F6D72;
      padding: .5em;

  }
}

.middle-button-holder {
  width: 6em;
  margin: 1.5em auto;
  border: 1px solid #D7D7D7;
  padding: .6em;
  border-radius: 1em;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

.hype-para {
  color: #69767B;
  width: 20em;
  margin:  3.55em auto 0 auto;
  h3 {
    text-align: left;
    color: black;
    letter-spacing: .3em;
  }
}

footer {
  background-color: black;
  color: #7B7B7B;
  text-align: center;
  padding: 1.875em 0;
  margin-top: 2em;
    a {
      color: #CACACA;
    }
}
